body {
    font-size: 1.2rem;
}

.modular-features .frame-box, .modular-text {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.modular-text h2, .modular-features h2 {
    margin-top: 1.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
}

/* Home page hero */

.hero-globasa {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e2d9cc;
  background-position: bottom center !important;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

#to-start, #to-start::before {
  display: none;
}


/* Deprecated: we now use an image */
.slogan-glb {
 /* font-size:32px; */
 font-size: 2.5rem;
 font-weight: 600;
 font-style: italic;
 color: black;
}

.slogan-nat {
   /* font-size: 25px; */
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

@media (max-width:840px) {
 .slogan-glb {
  font-size:1.5rem
 }
 .slogan-nat {
   font-size:1.5rem;
 }
 .hero.hero-fullscreen {
  min-height: 50vh;
}

}
@media (max-width:600px) {
  .slogan-glb {
   font-size:1rem
  }
  .slogan-nat {
    font-size:1rem;
  }
}


.navLangSwitcher::before {
  content: '\f1ab' !important;
  margin-top: -15px;
  font-family: FontAwesome;
  font-size: xx-large;
  font-weight: 100;
  text-rendering: auto;
}

.globasa_links a {
  white-space: nowrap;
}


.cc_license, #body footer img.cc_license {
  vertical-align: middle;
}

footer {
  font-size: medium;
}

footer img.cc_license {
  float: left;
  display: block;
  max-width: 2em;
  margin: .51em 0 0 0;
  height: auto;
}   

footer img.cc_license:last-of-type {
  margin-right: .51em;
}

footer .copyright {
  max-width: 700px;
  margin: auto;
}
